<div class="GreyNavFrame">
	<h3 style="font-size: 1.0em">Customers</h3>

	<div class="GreyNavBody">
	 	<span>Deleting a customer is only possible when are no hours booked on the customer his projects.
		</span>

	 	<br />
	</div>
	<div class="GreyNavFrameFooter">
		<p>
		</p>
	</div>	
</div>
