<div class="GreyNavFrame">
	<h3 style="font-size: 1.0em">Projects</h3>

	<div class="GreyNavBody">
	 	<span>To add a project first select a customer in the list.<br/>Adding a project manager to a project allows the PM to get reports about booked hourson the project. Only users with an e-mail address are shown in the Project Manager dropdown.<br/><br/>A default project is a project that is automatically assigned to newly created users. For example ifyou create a project called 'Holiday' and you make it a default project, all new users will be able to bookhours on this project.<br/><br/>Take note that only projects that have no assignments can be deleted.</span>

	 	<br />
	</div>
	<div class="GreyNavFrameFooter">
		<p>
		</p>
	</div>	
</div>