#small_calendar {
	border-collapse: collapse;
	width: 210px;
	text-align: center;
	color: #536E87;
}

#small_calendar td,
#small_calendar th {
	font-family: "Lucida Grande",arial,helvetica,sans-serif;
	font-size: 10px;
	padding: 0px;
}

#small_calendar th {
	border: 1px solid #536E87;
	background: #536E87;
	text-align: center;
	color: #fff;
}

#small_calendar td {
	background: #EDF5FE;
	border: 1px solid #536E87;
}

#small_calendar span {
	display: block;
}

#small_calendar td.events {
	background: #fff;
}

#small_calendar td.today {
	background: #ffc;
	color: #666;
}

#small_calendar caption {
  display: none;
}

#small_calendar_header {
	font-family: Arial, Helvetica;
	color: #536E87;
	width: 100%;
}

#small_calendar_header td.left {
	text-align: center;
	width: 25%;
}

#small_calendar_header td.right {
	text-align: center;
	width: 25%;
}

#small_calendar_header td.centered {
	text-align: center;
	width: 50%;
}