<table cellpadding="0" cellspacing="0">
    <tbody class="before-header">
      <tr><td></td></tr>
    </tbody>
</table>

<div>
	<table cellpadding="0" cellspacing="0">
  		<thead>
    		<tr>
          		<th>
          			<a href="#">Name</a>
    			</th>
    			<th>
          			<a href="#">Customer</a>
    			</th>
    			<th>
          			<a href="#">Project code</a>
    			</th>
    			<th>
       				<p>Default project</p>
    			</th>
    			<th>
       				<p>Active</p>
    			</th>
				<th class="actions"></th>
    		</tr>
  		</thead>
  		<tbody class="messages">
		    <tr>
		      <td colspan="6" class="messages-container">
		        <div>
		        </div>
        		<p class="filtered-message"  style="display:none;" >
		          (Filtered)
		        </p>
        		<p class="empty-message"  style="display:none;" >
		          No Entries
		        </p>
		      </td>
		    </tr>
	  	</tbody>
  		<tbody class="records">
			<tr class="record">
    			<td class="NAME-column">iKnowHawaii.com</td>
    			<td class="customer-column">
      				<a href="#" class="edit action customer" position="after">The Peloton Group</a>
    			</td>
    			<td class="PROJECT_CODE-column " >
			      IKNW
			    </td>
    			<td class="default_project-column " >
			      Yes
			    </td>
    			<td class="active-column " >
			      Yes
			    </td>
			    <td class="actions">
    				<table cellpadding="0" cellspacing="0">
  						<tr>
						    <td class="indicator-container">
						      <img alt="loading indicator" class="loading-indicator"  src="/images/active_scaffold/default/indicator.gif?1255988094" style="visibility:hidden;" />
						    </td>
                			<td>
        						<a href="/admin/projects/edit/1?_method=get" class="edit action" position="replace">Edit</a>
							</td>
                			<td>
        						<a href="#">Delete</a>
							</td>
                			<td>
        						<a href="/admin/projects/show/1?_method=get" class="show action" position="replace">Show</a>
							</td>
      					</tr>
					</table>
  				</td>
			</tr>
      </tbody>
	</table>
</div>