<div class="GreyNavFrame">
	<h3 style="font-size: 1.0em">Departments</h3>

	<div class="GreyNavBody">
	 	<span>A department is a department within your own organization, grouping the users.
		</span>

	 	<br />
	</div>
	<div class="GreyNavFrameFooter">
		<p>
		</p>
	</div>	
</div>