<div class="GreyNavFrame">
	<h3 style="font-size: 1.0em">Users</h3>

	<div class="GreyNavBody">
	 	<span>Create the users of eHour. A user can be part of a single department but have multiple roles.
		If you want the user to be project manager make sure to specify an e-mail address.
		</span>

	 	<br />
	</div>
	<div class="GreyNavFrameFooter">
		<p>
		</p>
	</div>	
</div>
